<li>
	{{name}}

	<button class="change-eaten" id="{{this.id}}" data-eaten="{{this.eaten}}">
		{{#if eaten}}Eating Time!{{else}}Get Another?{{/if}}
	</button>

	<button class="delete-pastry" id="{{this.id}}">Done!</button>
</li>
